page-fotune-info {
    ion-content {
        background-image: url("../assets/fotunes/image/background.png");
    }
    .a-page-info {
        .img-background {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            padding: 10px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .a-page-info-content {
            width: 90%;
            height: 80%;
            margin: auto;
            padding: 0px 10px 0px 10px;
            overflow: scroll;
            .info-background {
                background: rgba(black, 0.2);
                min-height: 100px;
                margin-bottom: 10px;
                border-radius: 5px;
                .info-title {
                    padding: 10px 5px 5px 5px;
                }
                p {
                    padding: 0;
                    margin: 0;
                    padding: 5px;
                    color: white;
                    font-family: Mijas-Pro-Italic !important;
                }
                .info-name {
                    padding-left: 5px;
                    padding-top: 5px;
                    span {
                        font-family: "Mijas-Ultra" !important;
                        color: #f2d475;
                    }
                }
                .info-image {
                    padding-top: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .btn {
        padding-bottom: 10px;
        .btn-back {
            img {}
            .btn_back-active {
                position: absolute;
                top: 0;
                display: none;
            }
        }
        .btn-contact {
            img {}
            .btn_contact-active {
                position: absolute;
                top: 0;
                display: none;
            }
        }
    }
}