    .eff-text-idle-animate {
        animation: eff-text-idle 1.4s steps(14) infinite;
    }
    
    @keyframes eff-text-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-webkit-keyframes eff-text-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-moz-keyframes eff-text-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-ms-keyframes eff-text-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-o-keyframes eff-text-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    .eff-bg-animate {
        animation: eff-bg-idle 5s steps(27) infinite;
    }
    
    @keyframes eff-bg-idle {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-2700%, 0px, 0px);
        }
    }
    
    @-webkit-keyframes eff-bg-idle {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-2700%, 0px, 0px);
        }
    }
    
    @-moz-keyframes eff-bg-idle {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-2700%, 0px, 0px);
        }
    }
    
    @-ms-keyframes eff-bg-idle {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-2700%, 0px, 0px);
        }
    }
    
    @-o-keyframes eff-bg-idle {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-2700%, 0px, 0px);
        }
    }
    
    .eff-rs-start-animate {
        animation: eff-rs-start 1.4s steps(15) infinite;
    }
    
    @-webkit-keyframes eff-rs-start {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1500%, 0px);
        }
    }
    
    @-moz-keyframes eff-rs-start {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1500%, 0px);
        }
    }
    
    @-ms-keyframes eff-rs-start {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1500%, 0px);
        }
    }
    
    @-o-keyframes eff-rs-start {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1500%, 0px);
        }
    }
    
    @keyframes eff-rs-start {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1500%, 0px);
        }
    }
    
    .eff-rs-end-animate {
        animation: eff-rs-end 1.6s steps(14) infinite;
    }
    
    @-webkit-keyframes eff-rs-end {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-moz-keyframes eff-rs-end {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-ms-keyframes eff-rs-end {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-o-keyframes eff-rs-end {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @keyframes eff-rs-end {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    .btn-animate-idle {
        animation: btn-idle 1.4s steps(14) infinite;
    }
    
    @-webkit-keyframes btn-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-moz-keyframes btn-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-ms-keyframes btn-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @-o-keyframes btn-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    @keyframes btn-idle {
        0% {
            transform: translate(0px, 0px);
        }
        100% {
            transform: translate(-1400%, 0px);
        }
    }
    
    .run-skeleton-animate {
        animation: skeleton .6s steps(5) 5;
    }
    
    @-webkit-keyframes skeleton {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-500%, 0px, 0px);
        }
    }
    
    @-moz-keyframes skeleton {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-500%, 0px, 0px);
        }
    }
    
    @-ms-keyframes skeleton {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-500%, 0px, 0px);
        }
    }
    
    @-o-keyframes skeleton {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-500%, 0px, 0px);
        }
    }
    
    @keyframes skeleton {
        0% {
            transform: translate3d(0px, 0px, 0px);
        }
        100% {
            transform: translate3d(-500%, 0px, 0px);
        }
    }
    
    .run-rotate-360-animate {
        animation: rotate-360 2s steps(72) infinite;
    }
    
    @-webkit-keyframes rotate-360 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
    
    @-moz-keyframes rotate-360 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
    
    @-ms-keyframes rotate-360 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
    
    @-o-keyframes rotate-360 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
    
    @keyframes rotate-360 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }