page-fotunes-data-details {
    ion-content {
        background-image: url("../assets/image/background.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .frame-background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        img {
            height: 100%;
        }
    }
    .data-content-div {
        height: 88%;
        width: 90%;
        margin: auto;
        overflow: hidden;
        .nameInVn {
            width: 100%;
            height: 30px;
            padding-bottom: 5px;
            padding-top: 6px;
            .span-1 {
                color: white;
                font-weight: bold;
                font-size: 1.3rem;
                // text-transform: lowercase;
            }
            .span-2 {
                color: #fff255;
                font-size: 1.2rem;
                // font-family: 'Mijas-Ultra'!important;
            }
        }
        .div-container-detail {
            height: calc(100% - 60px);
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            overflow: scroll;
            .box-container {
                background: rgba(black, 0.2);
                min-height: 80px;
                border-radius: 10px;
                width: 100%;
                margin-bottom: 10px;
                .box-content {
                    p {
                        color: white;
                        font-size: 1.4rem;
                        padding: 10px;
                    }
                }
                .box-header-container {
                    padding: 10px;
                    height: 20px;
                    .box-title {
                        height: 20px;
                        width: 30%;
                        span {
                            color: #fff255;
                            font-weight: bold;
                            font-size: 1.4rem;
                        }
                    }
                    .box-image {
                        height: 20px;
                        width: 30%;
                        padding: 4px;
                    }
                }
            }
        }
    }
    .footer-md::before {
        height: 0;
    }
    .header-md::after {
        height: 0;
    }
    .footer-ios {
        border: none;
    }
    .height-56 {
        height: 56px;
    }
    .btn {
        height: 56px;
        width: 20%;
        position: relative;
        .btn-more {
            img {
                position: absolute;
                bottom: 4px;
                left: 0;
                height: 45px;
            }
        }
        .btn-facebook {
            img {
                position: absolute;
                bottom: 4px;
                right: 0;
                height: 45px;
            }
        }
    }
    .bot_bar {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        z-index: -1;
        background-position: center center;
        background-size: cover;
        background-image: url("../assets/image/bot_bar_1.png");
    }
    .head-container {
        background: rgba(black, 0.2);
        width: 70%;
        height: 56px;
        margin: auto;
        margin-top: 20px;
        border-radius: 5px;
        .line-container {
            width: 20%;
            height: 56px;
            padding-left: 10px;
            .line {
                height: 6px;
                padding: 3px;
                img {
                    // height: 8px;
                }
            }
        }
        .text-container {
            width: 80%;
            height: 56px;
            padding: 5px;
            img {
                height: 56px;
                width: 120%;
                max-width: 120%;
            }
        }
    }
    .btn-back {
        width: 60%;
        top: -30px;
        position: absolute;
        left: 20%;
        img {
            height: 100%;
            width: 100%;
        }
    }
}