page-fotune-home {
    $line-width: 60px;
    $width-image: 160px;
    $coin-width: 30px;
    $eff-bg-width: 360px;
    $eff-btn-width: 160px;
    $eff-text-width: 100%;
    $plate-max-width: 160px;
    $skeleton-background-max-width: 280px;
    ion-content {
        background-image: url("../assets/fotunes/image/background.png");
        .scroll-content {
            overflow-y: hidden !important;
        }
    }
    .a-page-underground {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        .large-circle {
            max-width: 80%;
            animation: rotate-360 18s steps(108) infinite;
        }
        .small-circle {
            width: 60%;
            img {}
        }
        .plate-coin {
            // width: 80px;
            // height: 80px;
            .coin {
                width: 30%;
                height: 30%;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .plate {
            img {
                max-width: 90%;
            }
        }
        #skeletonCover {
            transition: 800ms;
            max-width: 90%;
        }
    }
    .a-page-title {
        width: 100%;
        position: relative;
        padding: 10px 0px;
        margin-top: 10px;
        img {
            max-width: 80%;
            z-index: 10;
        }
        .a-page-title-effect {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%) scale(1.4);
            transform-origin: center;
        }
    }
    .a-page-result {
        width: 100%;
        position: relative;
        .a-page-result-effect {
            // height: 100%;/
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center;
        }
        .a-page-line-container {
            width: 50%;
            .line {
                position: relative;
                .img-normal {
                    max-width: 38%;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                    transition: 1s;
                    // opacity: 0;
                }
            }
            .line-white {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                text-align: center;
                img {
                    max-width: 38%;
                    animation: eff-rs-end 1s;
                }
            }
        }
        .image-background {
            z-index: -1;
            width: 42%;
        }
    }
    .btn-shuffer-effect {
        position: absolute;
        left: 0;
        height: 100%;
        z-index: -1;
        .sprite-container .sprite-animation .sprite-image img {
            width: unset;
        }
    }
    .btn-shuffer {
        padding: 5px;
        bottom: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        #btnDone {
            // transition: 100ms;
        }
        .btn_done_1 {
            width: 50%;
            z-index: 10;
            img {
                transform: scale(1);
                filter: brightness(100%);
                transition: .2s;
                // max-width: 45%;
            }
            .numberQue {
                position: absolute;
                left: 50%;
                top: 16%;
                transform: translateX(-50%);
                span {
                    color: white;
                    font-size: 4vw;
                    font-family: "Mijas-Ultra" !important;
                }
            }
        }
        .btn_done_1:active {
            img {
                transform: scale(.96);
                filter: brightness(118%);
            }
        }
    }
    .background-footer {
        background-position: center center;
        background-size: cover;
        background-image: url("../assets/fotunes/image/bot_bar_2.png");
    }
    .height-footer {
        height: 50px;
    }
    .btn {
        position: relative;
        img {
            max-width: 60px;
            position: absolute;
        }
    }
    .more-button {
        cursor: pointer;
        img {
            left: 0;
            bottom: 0;
        }
        .img-more-active {
            display: none;
        }
    }
    .facebook-button {
        img {
            filter: brightness(100%);
            transition: .2s;
            right: 0;
            bottom: 0;
        }
    }
    .facebook-button:active {
        img {
            filter: brightness(120%);
        }
    }
    .notice {
        padding-top: 5px;
        span {
            color: white;
            font-family: "Mijas-Ultra" !important;
            line-height: 1.5rem;
        }
    }
    .botbar1 {
        left: 0;
        bottom: -1px;
        height: 4px;
        z-index: -1;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-image: url("../assets/fotunes/image/bot_bar_1.png");
    }
}

//==============New CSS================
.hideDiv {
    opacity: 0;
}

.showDiv {
    opacity: 1;
}

.sprite-container {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    .sprite-animation {
        height: 100%;
        width: 100%;
        white-space: nowrap;
        line-height: unset;
        .sprite-image {
            height: 100%;
            width: 100%;
            display: inline-block;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}